Playbooks/Update-VIP-Incident/Incident-Contains-VIP-Update.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Mike Hemming",
    "comments": "This playbook checks account entities in an incident against the VIP watchlist; if any match, it tags the incident and bumps severity to High."
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "VIP-Incident-Update"
    },
    "Service Prefix": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Optionally prepend a service prefix to the playbook name"
      }
    },
    "Created By": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Name of the user creating this resource"
      }
    },
    "Resource Group": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Resource Group where Microsoft Sentinel is deployed"
      }
    },
    "Workspace Name": {
      "type": "string",
      "defaultValue": "Workspace Name",
      "metadata": {
        "description": "Name of the Log Analytics Workspace on which Microsoft Sentinel is deployed"
      }
    },
    "Workspace ID": {
      "type": "string",
      "defaultValue": "Workspace ID",
      "metadata": {
        "description": "Full ARM ID of the Log Analytics Workspace"
      }
    }
  },
  "variables": {
    "LogicAppname": "[if(equals(parameters('Service Prefix'), ''), parameters('PlaybookName'), concat(parameters('Service Prefix'), '-', parameters('PlaybookName')))]",
    "AzureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
    "MicrosoftSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureMonitorLogsConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('AzureMonitorLogsConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('LogicAppname')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "Playbook": "[parameters('PlaybookName')]",
        "createdBy": "[parameters('Created By')]"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "MicrosoftSentinelWorkspaceID": {
              "type": "string"
            },
            "MicrosoftSentinelWorkspaceName": {
              "type": "string"
            },
            "ResourceGroupName": {
              "type": "string"
            },
            "SubscriptionID": {
              "type": "string"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/account"
              },
              "runAfter": {}
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Entities_-_Get_Accounts')?['Accounts']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountName": { "type": "string" },
                      "upnSuffix": { "type": "string" },
                      "aadTenantId": { "type": "string" },
                      "aadUserId": { "type": "string" },
                      "isDomainJoined": { "type": "boolean" },
                      "displayName": { "type": "string" },
                      "additionalData": {
                        "type": "object",
                        "properties": {
                          "Sources": { "type": "string" },
                          "GivenName": { "type": "string" },
                          "IsDeleted": { "type": "string" },
                          "IsEnabled": { "type": "string" },
                          "JobTitle": { "type": "string" },
                          "Surname": { "type": "string" },
                          "UserType": { "type": "string" },
                          "UpnName": { "type": "string" },
                          "SyncFromAad": { "type": "string" }
                        }
                      },
                      "friendlyName": { "type": "string" },
                      "Type": { "type": "string" },
                      "Name": { "type": "string" }
                    },
                    "required": [
                      "accountName",
                      "upnSuffix",
                      "aadTenantId",
                      "aadUserId",
                      "isDomainJoined",
                      "displayName",
                      "additionalData",
                      "friendlyName",
                      "Type",
                      "Name"
                    ]
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              }
            },
            "Run_query_and_list_results": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "_GetWatchlist('VIPUsers')\n| distinct [\"User Principal Name\"]",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "@{split(parameters('MicrosoftSentinelWorkspaceID'), '/')[2]}",
                  "resourcegroups": "@{split(parameters('MicrosoftSentinelWorkspaceID'), '/')[4]}",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "@{parameters('MicrosoftSentinelWorkspaceName')}",
                  "timerange": "Last 12 hours"
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Run_query_and_list_results')?['value']",
              "actions": {
                "Filter_array": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON')",
                    "where": "@equals(item()?['additionalData']?['UpnName'], items('For_each')?['User Principal Name'])"
                  }
                },
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_array'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Update_incident": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "tagsToAdd": {
                            "TagsToAdd": [
                              { "Tag": "VIP" }
                            ]
                          },
                          "severity": "High"
                        },
                        "path": "/Incidents"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Filter_array": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Run_query_and_list_results": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          },
          "MicrosoftSentinelWorkspaceID": {
            "value": "[parameters('Workspace ID')]"
          },
          "MicrosoftSentinelWorkspaceName": {
            "value": "[parameters('Workspace Name')]"
          },
          "ResourceGroupName": {
            "value": "[parameters('Resource Group')]"
          },
          "SubscriptionID": {
            "value": "[subscription().subscriptionId]"
          }
        }
      }
    }
  ],
  "outputs": {}
}
