Playbooks/Revoke-EntraIDUserSessions/Revoke_Entra_ID_User_Session.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "servicePrefix": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Define a prefix to be attached to every service name"
      }
    },
    "createdBy": {
      "type": "string",
      "defaultValue": "Anonymous",
      "metadata": {
        "description": "Specifies who created the resource. This is used in Tags"
      }
    },
    "resourceGroup": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Define a name for resource group. By default uses the current resource group name"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Specifies the location for resources. by default uses the current resource group location"
      }
    },
    "deploymentTimestamp": {
      "type": "string",
      "defaultValue": "[utcNow()]",
      "metadata": {
        "description": "The deployment timestamp"
      }
    }
  },
  "variables": {
    "LogicAppname": "[if(equals(parameters('servicePrefix'), ''), 'Revoke-EntraID-User-Session', concat(parameters('servicePrefix'), '-Revoke-EntraID-User-Session'))]",
    "year": "[substring(parameters('deploymentTimestamp'), 0, 4)]",
    "month": "[substring(parameters('deploymentTimestamp'), 4, 2)]",
    "day": "[substring(parameters('deploymentTimestamp'), 6, 2)]",
    "formattedDate": "[concat(variables('day'), '.', variables('month'), '.', variables('year'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('LogicAppname')]",
      "location": "[parameters('location')]",
      "tags": {
        "Playbook": "[variables('LogicAppname')]",
        "createdBy": "[parameters('createdBy')]",
        "createdOn": "[variables('formattedDate')]"
      },
      "kind": "V1",
      "properties": {
        "displayName": "[variables('LogicAppname')]",
        "statuses": [
          {
            "status": "Ready"
          }
        ],
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "name": "azuresentinel",
          "displayName": "Microsoft Sentinel",
          "description": "Cloud-native SIEM with a built-in AI so you can focus on what matters most",
          "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1718/1.0.1718.3951/azuresentinel/icon.png",
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "testLinks": []
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('LogicAppname')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('LogicAppname'))]"
      ],
      "tags": {
        "Playbook": "[variables('LogicAppname')]",
        "createdBy": "[parameters('createdBy')]",
        "createdOn": "[variables('formattedDate')]"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Accounts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/account"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Compose_-_concat_UPN": {
                  "type": "Compose",
                  "inputs": "@concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])"
                },
                "HTTP_-_Revoke_sessions": {
                  "runAfter": {
                    "Compose_-_concat_UPN": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{outputs('Compose_-_concat_UPN')}/revokeSignInSessions",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "authentication": {
                      "audience": "https://graph.microsoft.com",
                      "type": "ManagedServiceIdentity"
                    }
                  }
                },
                "Add_comment_to_incident_(V3)": {
                  "runAfter": {
                    "HTTP_-_Revoke_sessions": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p><span style=\"white-space: pre-wrap;\">User </span>@{outputs('Compose_-_concat_UPN')}<span style=\"white-space: pre-wrap;\"> sign in sessions were revoked in EntraID</span></p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('resourceGroup'), '/providers/Microsoft.Web/connections/', variables('LogicAppname'))]",
                "connectionName": "[variables('LogicAppname')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}